* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(242, 228, 204);
}

h1 {
  background-color: rgb(84, 88, 45);
  width: 100%;
  padding: 6px 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

#container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 3vmin;
  width: 100%;
  height: calc(100vh - 95px);
}

.title {
  color: white;
  font-size: 7vmin;
  text-align: center;
  margin: 0;
}

.message {
  color: rgb(240, 78, 37);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vmin;
  margin: 0;
  text-align: center;
  visibility: hidden;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 9vmin);
  grid-template-rows: repeat(6, 9vmin);
  gap: 1vmin;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}

#board > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vmin solid gray;
  font-size: 25px;
  color: black;
}

#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: .5vmin;
}

#keyboard div {
  display: flex;
}

.key-row1 {
  margin: 0.5vmin;
}

.key-row2 {
  margin: 0.5vmin;
}

.key-row3 {
  margin: 0.5vmin;
}

button, #enter-key, #delete-key {
  font-size: 20px;
  font-weight: 100;
  margin: 0 0.5vmin;
  padding: 1vmin;
  border: solid 2px transparent;
  color: white;
  background-color: rgb(117, 148, 160);
  padding-block: 1px;
  padding-inline: 6px;
  border-radius: 4px;
  height: 58px;
  width: 40px;
}

#enter-key, #delete-key {
  width: 65px;
  font-size: 15px;
}

button:hover, #enter-key:hover, #delete-key:hover {
  cursor: pointer;
  background-color: rgb(146, 50, 18);
}

#reset-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0px, -155px);
  font-size: 20px;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(240, 78, 37);
  background-color: rgb(66, 68, 33);
  border-radius: 20%;
  padding: 1vmin;
  border: solid 2px transparent;
  width: 100px;
  visibility: visible;
}

#reset-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
}